<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left1-1">
              <img
                src="images/Profile.png"
                width="156px"
                height="142px"
                alt=""
              />
            </div>
            <div class="left1-2"><%=user.name%></div>
            <div class="left1-3"><%=user.profession%></div>
            <div class="left-icons">
              <a class="link-href" href="">
                <div class="icon">
                  <img src="icon/Icons-instagram.svg" class="icon-1" />
                </div>
              </a>
              <a class="link-href" href="">
                <div class="icon">
                  <img src="icon/Icons-facebook.svg" class="icon-1" />
                </div>
              </a>
              <a class="link-href" href="">
                <div class="icon">
                  <img src="icon/Icons-twitter.svg" class="icon-1" />
                </div>
              </a>
              <a class="link-href" href="">
                <div class="icon">
                  <img src="icon/Icons-linkedin.svg" class="icon-1" />
                </div>
              </a>
              <a class="link-href" href="">
                <div class="icon">
                  <img src="icon/Icons-Youtube.svg" class="icon-1" />
                </div>
              </a>
              <a class="link-href" href="">
                <div class="icon">
                  <img src="icon/Icons-dribbble.svg" class="icon-1" />
                </div>
              </a>
            </div>
          </div>

          <div class="marginer"></div>
          <div class="left_2">
            <div class="left2-2">
              <div class="left-data">
                <span class="left-font">age:</span>
                <span class="left-fonts"><%=user.age%></span>
              </div>
              <div class="left-data">
                <span class="left-font">Residence:</span>
                <span class="left-fonts"> <%=user.residence%></span>
              </div>

              <div class="left-data">
                <span class="left-font">Freelance:</span>
                <span class="left-fonts1"><%=user.Freelance%></span>
              </div>
              <div class="left-data">
                <span class="left-font">Address:</span>
                <span class="left-fonts"> <%=user.languages%></span>
              </div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_3">
            <div class="left-title3">Languages</div>
            <div class="progress-bar-container">
              <div class="progress-label">English</div>
              <div class="progress-bar">
                <div class="progress" style="width: 95%"></div>
              </div>
              <div class="progress-percentage">95%</div>
            </div>

            <div class="progress-bar-container">
              <div class="progress-label">Korean</div>
              <div class="progress-bar">
                <div class="progress" style="width: 80%"></div>
              </div>
              <div class="progress-percentage">80%</div>
            </div>

            <div class="progress-bar-container">
              <div class="progress-label">Russian</div>
              <div class="progress-bar">
                <div class="progress" style="width: 70%"></div>
              </div>
              <div class="progress-percentage">70%</div>
            </div>
          </div>

          <div class="marginer"></div>
          <div class="left_4">
            <div class="left-title3">Skills</div>
            <div class="progress-bar-container">
              <div class="progress-label">Html</div>
              <div class="progress-bar">
                <div class="progress" style="width: 90%"></div>
              </div>
              <div class="progress-percentage">90%</div>
            </div>

            <div class="progress-bar-container">
              <div class="progress-label">CSS</div>
              <div class="progress-bar">
                <div class="progress" style="width: 85%"></div>
              </div>
              <div class="progress-percentage">85%</div>
            </div>

            <div class="progress-bar-container">
              <div class="progress-label">Js</div>
              <div class="progress-bar">
                <div class="progress" style="width: 80%"></div>
              </div>
              <div class="progress-percentage">80%</div>
            </div>

            <div class="progress-bar-container">
              <div class="progress-label">PHP</div>
              <div class="progress-bar">
                <div class="progress" style="width: 75%"></div>
              </div>
              <div class="progress-percentage">75%</div>
            </div>

            <div class="progress-bar-container">
              <div class="progress-label">NodeJs</div>
              <div class="progress-bar">
                <div class="progress" style="width: 85%"></div>
              </div>
              <div class="progress-percentage">85%</div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_5">
            <div class="left-title3">Extra Skills</div>
            <div class="skills-container">
              <div class="skill-lists">
                <img src="icon/icons.svg" alt="" /> Bootstrap, Materialize
              </div>
              <div class="skill-lists">
                <img src="icon/icons.svg" alt="" /> Stylus,Sass,Less
              </div>
              <div class="skill-lists">
                <img src="icon/icons.svg" alt="" /> Gulp,Webpack,Grun
              </div>
              <div class="skill-lists">
                <img src="icon/icons.svg" alt="" /> Git Knowledge
              </div>
            </div>
          </div>
          <div class="marginer"></div>
        </div>
        <div class="mid_frame">
          <div class="mid-title">
            <div class="mid-mainpage">
              <h1 class="mid-main">Doctor Neuroligists in OHSU Hospital</h1>
              <img src="icon/Your.svg" />
            </div>
            <div class="mid-text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
                volutpat feugiat placerat lobortis. Natoque rutrum semper sed
                suspendisse nunc lectus.
              </p>
            </div>
            <div class="buttons">
              <button>HIRE ME ></button>
              <!-- <i class="fa-solid fa-right-to-bracket"></i> -->
            </div>
          </div>

          <div class="mid-service">
            <h1>My Service</h1>
            <h3 class="mid-servicep">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit. lorem
              ipsum
            </h3>
          </div>
          <div class="grid-container">
            <div class="grid-item">
              <img src="btn_icon/coding.png" />
              <h4>Web Development</h4>
              <p>blog, e-commerce</p>
            </div>
            <div class="grid-item">
              <img src="btn_icon/illustration.svg" />
              <h4>uI/uX design</h4>
              <p>Mobile app, website design</p>
            </div>
            <div class="grid-item">
              <img src="btn_icon/Microphone.svg" />
              <h4>sound design</h4>
              <p>Voice Over, Beat Making</p>
            </div>
            <div class="grid-item">
              <img src="btn_icon/game-development.svg" />
              <h4>game design</h4>
              <p>Character Design, Props & Objects</p>
            </div>
            <div class="grid-item">
              <img src="btn_icon/Photographer.svg" />
              <h4>photography</h4>
              <p>portrait, product photography</p>
            </div>
            <div class="grid-item">
              <h4>advertising</h4>
              <p><%=user.Service_desc%></p>
              <a src="">Order now ></a>
            </div>
          </div>
        </div>
        <div class="rigth_frame">
          <div class="right-icons">
            <!-- <div class="ricon4">
              <img class="home" src="btn_icon/Pop up.png" home />
            </div> -->
            <a class="rlink-href" href="">
              <div class="ricon1">
                <img src="btn_icon/Home.svg" class="icon-1" />
              </div>
            </a>
            <a class="rlink-href" href="">
              <div class="ricon">
                <img src="btn_icon/file-code.svg" class="icon-1" />
              </div>
            </a>
            <a class="rlink-href" href="">
              <div class="ricon">
                <img src="btn_icon/cv.svg" class="icon-1" />
              </div>
            </a>
            <a class="rlink-href" href="">
              <div class="ricon">
                <img src="btn_icon/Vector.svg" class="icon-1" />
              </div>
            </a>
            <a class="rlink-href" href="">
              <div class="ricon">
                <img src="btn_icon/Blog.svg" class="icon-1" />
              </div>
            </a>
            <a class="rlink-href" href="">
              <div class="ricon">
                <img src="btn_icon/Contact.svg" class="icon-1" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
</html>
